@import url("https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap");

:root {
  --bg-color: #282c34;
  --text-color: #abb2bf;
  --border-color: #1a1a1a;
  --sub-color: #3b414d;
  --right-color: #2ecc71;
  --wrong-color: #c0392b;
  --box-color: rgba(255, 255, 255, 0.05);
  --overlay-color: rgba(4, 0, 255, 0.103);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

.draggable-list {
  /* border: 1px solid var(--border-color); */
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
  box-shadow: var(--box-shadow);
  /* Disable highlighting */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.draggable-list li {
  background-color: var(--box-color);
  display: flex;
  flex: 1;
  box-shadow: var(--box-shadow);
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--sub-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: var(--overlay-color);
}

.draggable-list .object-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .object-name {
  color: var(--right-color);
}

.draggable-list li.wrong .object-name {
  color: var(--wrong-color);
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--sub-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.check-btn:active {
  transform: scale(0.98);
}
